body,
html {
    background: #bd4343;
    /*linear-gradient(
          hsl(0,0%,0%) 0%,
          hsla(0,0%,0%,.755) 25%,
          hsla(0,0%,0%,.525) 32%,
          hsla(0,0%,0%,0) 100%
		);*/
    font-family: monospace;
    max-height: 890px;
    max-width: 100%;
}

::-webkit-selection {
    color: #f55;
    font-weight: bolder;
    background: rgba(0, 0, 0, .5);
}

::-moz-selection {
    color: #f55;
    font-weight: bolder;
    background: rgba(0, 0, 0, .5);
}

::selection {
    color: #000;
    font-weight: bolder;
    background: rgba(0, 255, 0, .99);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d;
}

header.header {
    font-family: cursive;
    max-width: 100%;
    max-height: 80px;
    min-height: auto;
    min-width: auto;
    background: rgb(66, 6, 44);
    text-shadow: .1px 1px #000;
    position: absolute;
    color: #cececc;
    box-shadow: 0px 5px 18px rgba(0, 0, 0, .7);
    top: 0px;
    right: 0;
    left: 0;
    margin-top: -9px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    padding: 3px;
    z-index: 999;
}

header>img {
    margin-right: 5px;
    width: 85px;
    height: 75px
}

header>h3,
.menubar {
    position: relative;
    top: -29px;
    margin-right: 95px;
}

.menubar {
    position: absolute;
    top: 25px;
    margin-right: -5px;
    right: 5px;
}

header>h4 {
    margin-right: 395px
}

header>h4,
header>.input {
    position: relative;
    top: -29px;
    margin-right: 5px;
}

header>img,
header>h3,
header>h4,
header>.input {
    display: inline-block;
}

button.menubar {
    min-height: 30px;
    min-width: 40px;
    background: url("../img/menu.png") no-repeat 100%;
    border: hidden;
    margin-right: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

button.menubar:focus {
    outline: none;
    margin-right: 4px;
    border-right: 2px ridge #22A7F0;
    transition: all .2s ease-in-out;
}

.input {
    margin: 9px;
    padding: 6px 12px;
    outline: none;
    border-radius: 2px;
    border-top: 0px solid transparent;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 1px solid #22A7F0;
    background: rgba(244, 244, 244, .2);
    color: #fff;
}

.border {
    border-bottom: 3px solid #fff;
}

.main {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 125px;
}

.main>h4 {
    text-align: center;
}

div>h4,
div>.input {
    display: none;
}

.img {
    max-width: 40pc;
    max-height: 259px;
    min-width: 250px;
    min-height: 259px;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    overflow: hidden;
    margin: auto;
}

.img-hover,
.flex:hover {
    filter: drop-shadow(0px 5px 10px #000);
    cursor: pointer;
    -webkit-transition: .5s cubic-bezier(0, -0.55, 0.56, 1.17);
    -moz-transition: .5s cubic-bezier(0, -0.55, 0.56, 1.17);
    -ms-transition: .5s cubic-bezier(0, -0.55, 0.56, 1.17);
    -o-transition: .5s cubic-bezier(0, -0.55, 0.56, 1.17);
    transition: .5s cubic-bezier(0, -0.55, 0.56, 1.17);
}

.flexScroll {
    max-width: 922px;
    max-height: 700px;
    min-width: 812px;
    min-height: 612px;
    overflow-y: auto;
}

.img-togo {
    filter: drop-shadow(0px 5px 10px #444);
    top: 2pc;
    max-width: 99%;
    max-height: 100vh;
    width: auto;
    overflow-y: auto;
    position: fixed;
    z-index: 8888;
    /* display: flex; */
    justify-content: center;
    margin: 0 auto;
}

#media-player {
    display: flex;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}

.img-nomo {
    max-width: "250px";
    max-height: "259px";
    min-width: "250px";
    min-height: "259px"
}

p#details,
p#caption {
    display: inline-block;
}


/*   Devices ==>/ Mobile*/

@media screen and (min-width:275px) and (max-width:775px) {
    .flex {
        width: 25%;
        max-height: 25px;
        overflow-y: hidden;
    }
    #bo {
        max-width: 15%;
        max-height: 59px;
        min-width: 50px;
        min-height: 39px;
        width: auto;
        height: auto;
        position: absolute;
        top: auto;
        bottom: auto;
        left: -2px;
    }
    header.header {
        background: rgba(255, 255, 255, .95);
        color: #000;
        height: 60px;
        font-family: arial;
        font-size: 18pt;
        font-weight: 900;
        text-shadow: 0 3px 5px rgba(0, 0, 0, 0.26);
        position: fixed;
    }
    header img {
        margin-right: 5px;
        width: 75px;
        height: 65px
    }
    header>h4,
    header>.input {
        position: relative;
        top: -29px;
        margin-right: 5px;
        display: none;
    }
    div.main {
        overflow: hidden;
    }
    div>h4,
    div>.input {
        display: inline-block;
    }
    footer#m_footer {
        background: #000;
        margin-top: 124px;
        text-shadow: .1px 1px #000;
        position: absolute;
        color: #fff;
        bottom: auto;
        right: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        border-radius: 3px;
        padding: 3px;
    }
}

@media screen and (min-width: 767) and (max-width: 1024) {}

.modal-content {
    max-width: 70%;
    max-height: 500px;
    min-width: auto;
    min-height: auto;
}

#body-overlay {
    top: .0;
    left: 0;
    right: 0;
    overflow-wrap: break-word;
    max-width: 100%;
    max-height: 898px;
    min-width: 80%;
    min-height: 898px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: fixed;
    z-index: 985;
    background: rgba(0, 0, 0, .5);
    display: none;
}

#bo {
    margin: 285px;
}

.add>img.img {
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
}

.add>span>img.img {
    max-width: 50px;
    max-height: 50px;
    min-width: 50px;
    min-height: 50px;
}

.Next {
    float: right;
}

.btn {
    display: inline-block;
    height: 2.8rem;
    width: auto;
    background-color: #22A7F0;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-size: 1.5rem;
    color: #fff;
    margin: 0 10px 10px 0px;
    border: 2px solid transparent;
    transition: all .2s ease
}

.btn:hover {
    color: #22A7F0;
    background-color: rgba(255, 255, 255, .2);
    border: 2px solid #22A7F0;
    transition: all .2s ease;
}

.btn:active {
    background-color: #22A7F0;
    box-shadow: inset 0 9px 15px rgba(0, 0, 0, .4);
    transition: width .4s ease;
}

.Prev {
    float: left;
}

footer.main_footer {
    font-family: cursive;
    background: rgb(66, 6, 44);
    text-shadow: .1px 1px #000;
    position: fixed;
    color: #cececc;
    bottom: 0px;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    padding: 3px;
}

a {
    color: #ca1fb3;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #ca1fb3af;
}

p#caption>a.link {
    margin-right: 224px;
}

.flex {
    width: 25%;
    max-height: 7444px;
}

span.container {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 45px;
}

div.one {
    background: #561;
}

div.two {
    background: #471;
}

div.three {
    background: #961;
}

div.four {
    background: #501;
}

div.five {
    background: #097bbd;
}


/*div.flex:nth-child(6){
		background: #dd29e0;
	}*/